//Variables de Colores
$color-Morado:#5e42a6;
$color-Rosado:#fe7472;
$color-Azul:#749ffe;
$color-Naranja:#ffb274;
//Variable para font-size,top,left,etc
$tamano-FTM:20px;

//Variable de tipografia
$tipografia:'Open Sans', sans-serif;