!!!5
%html
  %head
    %meta(charset="utf-8")
    %title Presentaciones
  %body
    %header
      .contenedor
        %figure
          %img(src="img/logo.png" alt="logo" title="logo")
      %nav
        %ul
          %li
            %a(href="#") Inicio
          %li 
            %a(href="#") Portafolio
          %li
            %a(href="#") Sobre mi
          %li 
            %a(href="#") Contacto
    %h1 Portafolio       
    %section(class="portafolios")
      .contenedor-imagenes
        %img(src="img/proyecto-1.jpg" alt="proyecto 1" title="proyecto 1")
        .contenedor-subtitulo
          %h2 Tarjeta de Presentacion
      .contenedor-imagenes
        %img(src="img/proyecto-2.jpg" alt="proyecto 2" title="proyecto 2")
        .contenedor-subtitulo
          %h2 Tarjeta de Presentacion
      .contenedor-imagenes
        %img(src="img/proyecto-3.jpg" alt="proyecto 3" title="proyecto 3")
        .contenedor-subtitulo
          %h2 Papeleria Corporativa
      .contenedor-imagenes
        %img(src="img/proyecto-4.jpg" alt="proyecto 4" title="proyecto 4")
        .contenedor-subtitulo
          %h2 Sitio Web Responsive